@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.big-text {
  font-size: 32rem;
}

.char-bg {
  background: repeating-radial-gradient(
      /* rgba(255, 0, 0, 1) 10%,
      rgba(255, 255, 0, 1) 10%,
      rgba(0, 255, 0, 1) 10%,
      rgba(0, 255, 255, 1) 10%,
      rgba(0, 0, 255, 1) 10%,
      rgba(255, 0, 255, 1) 10% */
      #ff0000 10%,
      #ffff00 30%,
      #26ff00 40%,
      #00d9fa 50%,
      #1500ff 70%,
      #ff00ae 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 50% auto;
  animation: textShine 120s linear infinite alternate;
}

.char-fg {
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 50% auto;
  /* animation: textShine 120s linear infinite alternate; */
}

.char {
  text-shadow: rgb(0, 0, 0) -10px -5px 0px;
}

progress {
  border-radius: 100%;
}

@keyframes textShine {
  0% {
      background-position: -500% 50%;
  }
  100% {
      background-position: 1500% 50%;
  }
}
